@font-face {
  font-family: "Neue Montreal";
  src: url("assets/fonts/PPNeueMontreal-Regular.woff") format("woff");
}

@font-face {
  font-family: "Neue Montreal";
  src: url("assets/fonts/PPNeueMontreal-Bold.woff") format("woff");
  font-weight: 700;
}

/* Use the font in your styles */
body {
  font-family: "Neue Montreal", sans-serif;
  color: black;
  margin: 15px;
  padding: 15px;
  font-size: xx-large;
}

h1 {
  margin: 0;
  color: red;
  text-align: center;
  text-transform: uppercase;
  font-size: 100px;
}
s {
  text-decoration: line-through;
}

cite {
  margin-left: 30px;
  font-size: x-large;
}

h2,
h4,
b {
  color: red;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 70px;
  }
}
